.window-content {
  overflow-y: auto;
  height: calc(100% - 20px);
}

table > tbody > tr > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

fieldset button {
  margin: 0 5px;
}

fieldset button:first-of-type {
  margin-left: 0;
}

fieldset button:last-of-type {
  margin-right: 0;
}

/* Speech bubble fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
